{% extends "base.html" %}

{% block content %}
            <div class="cover row">
                <div class="col-sm-6 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                    <h1><span class="bigger">I</span>raedria</h1>
                    <p>A new age begins when two worlds collide. A struggle to coexist turns to genocide. Yet even greater evils lurk in the shadows of the planets, born from an ugly history kept in the memories of the immortal demons, Vessels, and high elves. In a small, secluded village of warriors, a new light is born when outcast Althea Rider recovers the ancient art of healing magic. It is up to her and the other children of this era to bring the change that will save their troubled world.</p>
                    <p class="bigger">
                        <a href="{{ url_for('prologue', book='vega') }}">
                            <i class="bigger">Begin reading</i>&nbsp;&nbsp;<i class="glyphicon glyphicon-circle-arrow-right"></i>
                        </a>
                    </p>
                </div>
            </div>
{% endblock %}