<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How utterly ludicrous. You've found my taggregator.</title>

    <!-- TODO: use color to change text color, not bg color, and make bg transparent? -->
    <style>
        body {
            background: none transparent;
        }
        .iframe {
            height: {{ height-16 }}px;
            width: {{ width-16 }}px;
            font-family: "Tahoma", sans-serif;
            overflow: hidden;
            color: #{{ color }};
        }
        a {
            color: #{{ color }};
        }
        .very-smol {
            font-size: .6em;
        }
    </style>
</head>

<body>

<div class="iframe">
    {% if username == "izzyv1o" %}
    <b>transparent farce's latest trends</b>
    {% else %}
    <b>{{ username }}'s latest trends</b>
    {% endif %}
    <p id="put_them_tags_here">loading...</p>
    <p class="very-smol"><a href="{{ url_for('taggremaker') }}" target="_blank">want your own?</a></p>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

<script type=text/javascript>
    // identify script root so that this can work while I'm testing as well as on the internet
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $.get( $SCRIPT_ROOT+"/_taggregator/tumblr/{{ username }}", function( data ) {
        // delete the loading message by inserting new string from json
        $("p#put_them_tags_here").html(data.tag_list)
        return false;
    });
</script>

</body>
</html>
