{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    {{ super() }}
    <script type=text/javascript>
      // Replace broken images
      $('img').error(function(){
          $(this).attr('src', '{{ url_for('static', filename='default.jpg') }}');
      });
    </script>
{% endblock %}

{% block page_content %}
        <div id="photo">
            <img src="{{ user.photo_url }}" alt="There should be a photo of someone's beautiful face here." />
        </div>
            <div id="blurb">
                <p>{{ user.about }}</p>
            </div>
            <div id="votes">
                {{ wtf.quick_form(form) }}
            </div>
        <div id="next"><a href="{{ url_for('index') }}"><i class="glyphicon glyphicon-circle-arrow-right"></i></a></div>

{% endblock %}