.navbar-brand {
    font-family: Garamond, serif;
    text-transform: uppercase;
}

.navbar-custom {
    background-color: black;
}

.bigger {
    font-size: 125%; 
}

#page {
    position: absolute;
    top: 0px;
    padding-top: 40px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    min-height: 100%;
}

body, html {
    height: 100%;
}

body {
    background-image: url(../img/forest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dream, .page {
    max-width: 900px;
}

.page {
    background-color: rgba(255,255,255,.7);
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 5%;
}

.page p, .dream p, .cover p {
    font-family: Garamond, serif;
    font-size: 1.4em;
    padding-bottom: 1.2em;
    max-width: 700px;
    margin: auto;
}

.dream, .cover {
    margin: auto;
    color: #EEE;
    text-shadow: 0 0 1em black;
}

p .drop-cap {
    font-size: 3.1em;
    float: left;
    line-height: 0.8em;
    padding-right: 0.5%;
    padding-top: 0.5%;
}

.arrow {
    font-size: 4em;
}

.right {
    text-align: right;
}

.like a:visited {
    color: #ff8080;
}

.modal-img {
    max-width: 95%;
    margin: auto;
}

h1 {
    font-family: Garamond, serif;
    font-size: 15vmin;
    text-transform: uppercase;
}

h2 {
    font-family: Garamond, serif;
    font-size: 200%;
}

/* investigate */
ul li a:visited {
    font-style: italic;
}

a {
    color: white;
}

/* apparently the order is important??? who knew */
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

