.navbar-brand {
    font-family: Garamond, serif;
    text-transform: uppercase;
}

.bigger {
    font-size: 125%; 
}

#page {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    min-height: 100%;
}

body, html {
    height: 100%;
}

body {
    background-image: url(../img/forest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.chapter {
    background-color: rgba(255,255,255,.7);
    max-width: 900px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 5%;
}

.chapter p, .prologue p, .cover p {
    font-family: Garamond, serif;
    font-size: 22px;
    padding-bottom: 1.2em;
    max-width: 700px;
    margin: auto;
}

.prologue, .cover {
    margin: auto;
    color: rgba(255,255,255,.7);
    text-shadow: 0 0 1em black;
}

.prologue {
    max-width: 900px;
}

p .drop-cap {
    font-size: 400%;
    float: left;
    line-height: 1em;
    padding-right: 1%;
}

.arrow {
    font-size: 400%;
}

.right {
    text-align: right;
}

/* For index */
h1 {
    font-family: Garamond, serif;
    font-size: 15vmin;
    text-transform: uppercase;
}

h2 {
    font-family: Garamond, serif;
    font-size: 200%;
}

/*old*/
.demo {
    background-color: #fff8ee;
}

#story {
    width: 60%;
    float: left;
    margin: 25px;
    padding: 10px;
    background-color: #fffff8;
    border: #eeeedd 1px solid;
    font-family: Garamond, serif;
    font-size: 24px;
}

#comments {
    padding: 25px;
    border-left: #d8e8d8 1px solid;
    background-color: #f8fff0;
    float: right;
    width: 35%;
    height:100vh
}

.comment {
    border: #d8e8d8 1px solid;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.comment p {
    padding-left: 10px;
}

#story .airdeari {
    border-bottom: violet 1px dashed;
}

.comment .airdeari {
    color: violet;
}

#story .megsradioluvr {
    border-bottom: turquoise 1px dashed;
}

#story .active {
    color: turquoise;
}

.comment .megsradioluvr {
    color: turquoise;
}

#comments .active {
    border: turquoise 1px solid;
    box-shadow: 0px 5px 15px #ccc;
}

#story .jbiebz {
    border-bottom: orange 1px dashed;
}

.comment .jbiebz {
    color: orange;
}

a {
    color: white;
}
/* apparently the order is important??? who knew */
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}